<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="well text-center">
                    <h1 class="display-1 text-primary">
                        <a href="/">Lecter App</a>
                    </h1>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="text text-info col-md-4">
                    <h1 class="display-1">Cantidad</h1>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calculator"></i>
                        </span>
                        <input id="cantidad" type="number" class="form-control" name="cantidad" placeholder="Cantidad">
                    </div>
                </div>
                <div class="text text-danger col-md-4">
                    <h1 class="display-1 text-center">Sabor</h1>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-beer"></i>
                        </span>
                        <!-- Select2 aquí -->
                        <input id="Sabor" type="text" class="form-control" name="Sabor" placeholder="Sabor">
                    </div>
                </div>
                <div class="text text-warning col-md-4">
                    <h1 class="display-1 text-center">Precio por unidad</h1>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar-sign"></i>
                        </span>
                        <!-- Select2 aquí -->
                        <input id="Precio" type="number" class="form-control" name="Precio" placeholder="Precio unitario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="text text-success col-md-4 text-center">
                        <h1 class="display-1 text-center"> <br> Registrar Compra</h1>
                        <button class="btn btn-block"><span><i class="fa fa-save"></i></span></button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>