<div class="row">
        <div class="col-md-12">
            <div class="text text-danger col-md-6">
                <h1 class="display-1 text-center">Cantidad</h1>
                <div class="input-group" ng-class="(vm.submit && cantidad.$error.required) ? 'has-error' : ''">
                    <span class="input-group-addon">
                        <i class="fa fa-calculator"></i>
                    </span>
                    <input id="cantidad" type="number" class="form-control" name="cantidad" placeholder="Cantidad" ng-model="vm.compra.CANTIDAD"
                        required>
                </div>
            </div>
            <div class="text text-success col-md-6">
                <h1 class="display-1 text-center">Precio por unidad</h1>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-dollar-sign"></i>
                    </span>
                    <!-- Select2 aquí -->
                    <input id="Precio" type="number" class="form-control" name="Precio" placeholder="Precio unitario" ng-model="vm.compra.PRECIO_UNITARIO">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="text text-success col-md-4 text-center">
                    <h1 class="display-1 text-center">
                        <br> Registrar Compra</h1>
                    <button ng-click="vm.RegistrarCompra('cerveza'); vm.submit = true" class="btn btn-block btn-success btn-lg">
                        <span>
                            <i class="fa fa-save"></i>
                        </span>
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>