<div class="row animated bounceIn">
    <div class="col-md-12 text-center   ">
        <a href="/#!/compra" class="btn btn-info btn-large col-md-6 col-sm-12">
            <h1>Compra de mercancia</h1>
        </a>
        <a href="/#!/venta" class="btn btn-success btn-large col-md-6 col-sm-12">
            <h1>Venta de mercancia</h1>
        </a>
    </div>
    <div class="col-md-12 col-sm-12 text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="/#!/info" class="btn btn-primary btn-large col-md-12 col-sm-12">
                <h1>Consultas</h1>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>