<div class="row well">
	<div class="col-md-12">
		<div class=" text text-default pull-left btn-block" style="font-family: Georgia, serif">
			<h2 class="text text-danger">Predicciones</h2>
			<span class="btn btn-default btn-sm" data-toggle="modal" data-target="#exampleModal">
				<i class="fa fa-question-circle"> Como funciona?</i>
			</span <!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								<h3>Funcionamiento de las predicciones</h3>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								Las predicciones consisten en la búqueda y el análisis de dos equipos
								<b>clientes</b> que participarán la siguiente semana en los partidos de futbol.
							</p>
							<hr> Los resultados se computan en relación a las ventas históricas y a los resultados previamente obtenidos agrupados
							por sabor y categoria (pequeño o grande) por este equipo, luego se calcula un promedio entre los dos equipos.
							<hr>
							Dada la cantidad de variables discretas que intervienen el resultado pretende ser una alternativa a la regresión
							lineal convencional.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="text text-danger col-md-6">
				<h1 class="display-1 text-center">Clientes
				</h1>
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-beer"></i>
					</span>
					<ui-select limit="2" multiple ng-model="vm.selected.cliente" theme="bootstrap" close-on-select="false">
						<ui-select-match placeholder="Seleccione los clientes...">{{$item.cliente}}</ui-select-match>
						<ui-select-choices repeat="color in vm.clientes | filter:$select.search">
							{{color.cliente}}
						</ui-select-choices>
					</ui-select>
					<!-- <p>Selected: {{vm.selected.cliente.cliente}}</p> -->
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
		<div class="row">
			<div class="text text-default col-md-6 text-center">
				<h1 class="display-1 text-center">
					<br> Realizar predicción</h1>
				<button ng-click="vm.predecir(); vm.submit = true" class="btn btn-block btn-danger btn-lg">
					<span>
						<i class="fa fa-motorcycle"></i>
					</span>
				</button>
			</div>
		</div>
	</div>
</div>
</div>
</div>