<div class="row">
    <div class="col-md-12">
        <div class="text text-danger col-md-3">
            <h1 class="display-1 text-center">Cantidad</h1>
            <div class="input-group" ng-class="(vm.submit && cantidad.$error.required) ? 'has-error' : ''">
                <span class="input-group-addon">
                    <i class="fa fa-calculator"></i>
                </span>
                <input id="cantidad" type="number" class="form-control" name="cantidad" placeholder="Cantidad" ng-model="vm.venta.CANTIDAD"
                    required>
            </div>
        </div>
        <div class="text text-warning col-md-3">
            <h1 class="display-1 text-center">Sabor</h1>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-beer"></i>
                </span>
                <ui-select tagging ng-model="vm.selected" theme="bootstrap" style="width: 100%">
                    <ui-select-match placeholder="Sabores...">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="val in vm.sabores | filter: $select.search track by val.value">
                        <span ng-bind-html="val.value | highlight: $select.search"></span>
                        <!-- <div ng-bind="val.value | highlight: $select.search"></div> -->
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="text text-success col-md-3">
            <h1 class="display-1 text-center">Precio por unidad</h1>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-dollar-sign"></i>
                </span>
                <!-- Select2 aquí -->
                <input id="Precio" type="number" class="form-control" name="Precio" placeholder="Precio unitario" ng-model="vm.venta.PRECIO_VENTA">
            </div>
        </div>
        <div class="text text-danger col-md-3">
            <h1 class="display-1 text-center">Cliente
                <span>(Opcional)</span>
            </h1>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-beer"></i>
                </span>
                <ui-select tagging ng-model="vm.selected2" theme="bootstrap" style="width: 100%">
                    <ui-select-match placeholder="Clientes...">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="val in vm.clientes | filter: $select.search track by val.value">
                        <span ng-bind-html="val.value | highlight: $select.search"></span>
                        <!-- <div ng-bind="val.value | highlight: $select.search"></div> -->
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="text text-info col-md-4 text-center">
                <h1 class="display-1 text-center">
                    <br> Registrar Venta</h1>
                <button ng-click="vm.RegistrarVenta('helado'); vm.submit = true" class="btn btn-block btn-info btn-lg">
                    <span>
                        <i class="fa fa-money-bill-alt"></i>
                    </span>
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>